@import "variables";

@import "~bootstrap-3/assets/stylesheets/bootstrap";
@import "~datatables.net-bs/css/dataTables.bootstrap.css";
@import "~datatables.net-buttons-bs/css/buttons.bootstrap.css";

@import "../libs/bootstrap-autocolumns";

@import "../fixtures/datatables";
@import "../fixtures/datatables-buttons";

body {
    margin: 30px;
}

.auth-brand {
    margin: 20px 0 30px;
    text-align: center;
}
